body {
	background-color: seashell;
}

body {
	color: skyblue;
	text-align: center;
	margin: 20px;
	font-family: 'Pacifico', cursive;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 400px;
}

a {
	text-decoration: none;
}

#message {
	text-align: center;
	font-size: 50px
}