body {
	background-color: seashell;
	color: skyblue;
	text-align: center;
	margin: 20px;
	font-family: 'Pacifico', cursive;
	border-style: solid;
	border-width: 5px;
	width: 600px;
	height: 600px;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 350px;
}

a {
	text-decoration: none;
}

#message {
	text-align: center;
	font-size: 50px
}